
  div {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}
  
.esqcima {
    background-color: red;
    top: 0;
    left: 0;
}
  
.dircima {
    background-color: yellow;
    top: 0;
    right: 0;
}
  
.esqbaixo {
    background-color: green;
    bottom: 0;
    left: 0;
}
  
.dirbaixo {
    background-color: blue;
    bottom: 0;
    right: 0;
}
  